<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous">
    </script>
</head>
<body class="body">
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="https://shinden.pl/">Shinden</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="./Home.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./AnimeList.html">Anime</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./CharacterList.html">Character</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./VoiceActorList.html">Voice Actor</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./Admin.html">Admin</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./Home.html">Account</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./Home.html">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="entry p-4">
    <div class="container">
        <p class="display-5">Admin Tools</p>
        <hr class="my-0">
    </div>
</div>
<div class="container content">
    <div class="col-12">
        <div class="card border-0">
            <div class="d-inline-flex">
                <div class="col-4">
                    <div class="card" id="add-anime-admin-button-card">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-secondary btn-lg text-truncate fs-2 admin-btn"
                                   href="admin/AnimeAdd.html" role="button">Add anime</a>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="edit-anime-admin-button-card">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-secondary btn-lg text-truncate fs-2 admin-btn"
                                   href="admin/AnimeEditList.html" role="button">Edit anime</a>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="remove-anime-admin-button-card">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-secondary btn-lg text-truncate fs-2 admin-btn"
                                   href="admin/AnimeDeleteList.html" role="button">Remove anime</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" id="add-character-admin-button-card">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-secondary btn-lg text-truncate fs-2 admin-btn"
                                   href="admin/CharacterAdd.html" role="button">Add character</a>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="edit-character-admin-button-card">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-secondary btn-lg text-truncate fs-2 admin-btn"
                                   href="admin/CharacterEditList.html" role="button">Edit character</a>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="remove-character-admin-button-card">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-secondary btn-lg text-truncate fs-2 admin-btn"
                                   href="admin/CharacterDeleteList.html" role="button">Remove character</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" id="add-voice-actor-admin-button-card">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-secondary btn-lg text-truncate fs-2 admin-btn"
                                   href="admin/VoiceActorAdd.html" role="button">Add voice actor</a>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="edit-voice-actor-admin-button-card">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-secondary btn-lg text-truncate fs-2 admin-btn"
                                   href="admin/VoiceActorEditList.html" role="button">Edit voice actor</a>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="remove-voice-actor-admin-button-card">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-secondary btn-lg text-truncate fs-2 admin-btn"
                                   href="admin/VoiceActorDeleteList.html" role="button">Remove voice actor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-2">
    <div class="container text-center">
        <span class="text text-muted">ablewski@student.agh.edu.pl kryca@student.agh.edu.pl</span>
    </div>
</footer>
</body>
</html>